/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/**********************************/
/********* INDEX - GLOBAL *********/
/**********************************/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a {
	text-decoration: none;
}

a:before {
	text-decoration: none;
	color: #B1663C;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img,
span {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction span {
	margin-top: 10px;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	/* text-align: center; */
	margin-bottom: 1em;
	width: 200px;
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

#portfolio span {
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 400;
	color: black;
	width: 40px;
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

#portfolioTitre {

	display: flex;
	width: 250px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

input[type="submit"]:hover {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #0E2F28;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/**** edition *****/
.edition-bondeau {
	display: none;
}

.edition-bondeau-administration {
	width: 100%;
	height: 50px;
	background-color: black;
}

.edition-boutons {
	width: 40%;
	height: 100%;
	margin: auto;
	display: flex;
	color: white;
}

.edition-button-edition {
	margin: auto;
}

.edition-boutton {
	cursor: pointer;
	display: none
}

.edition-button-changement {
	margin: auto;
	color: black;
	border-radius: 15px;
	background-color: white;
	padding: 10px;
}

/*** filtre ***/
.filtre {
	width: 65%;
	align-items: center;
	text-align: center;
	display: flex;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	margin-left: auto;
	margin-right: auto;
}

.filtre-btn {
	/* width: 100%; */
	padding: 10px;
	border: 3px solid;
	border-radius: 20px;
	border-color: #1D6154;
	background-color: white;
	color: #1D6154;
	font-weight: 700;
	font-size: 16px;
	margin-top: 50px;
	margin-bottom: 30px;
	margin-left: 12.5px;
	margin-right: 12.5px;
}

.filtre-btn:hover {
	background-color: #0E2F28;
	border-color: #0E2F28;
	color: white;
	cursor: pointer;
}

.selected {
	background-color: #1D6154;
	border-color: #1D6154;
	color: white;
	cursor: pointer;
}

/*************************/
/********* LOGIN *********/
/*************************/
#login {
	width: 30%;
	margin: auto;
}

#login>* {
	text-align: center;

}

#login h2 {
	margin-bottom: 20px;
}

#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label {
	margin: 2em 0 1em 0;
}

#login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

.login-message-erreur {
	display: none;
	margin-bottom: 20px;
	color: red;
}

.fa-regular {
	padding-right: 5px;
}